@import "./color.scss";
@import "./viewports.scss";

.blogcard--container {
  width: 100%;
  -webkit-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: block;
  transition: all 0.1s ease-in-out;

  h5 {
    font-weight: bold;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.1em;
    margin-bottom: 5px;
  }

  p {
    color: #d0d0d0;
    margin-bottom: 5px;
  }

  .card--info {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 0.9em;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}
