/* 
  Datei: color.scss
  Version: 1.0.0
  Entwickler: Danny Nothdurft
  Beschreibung: Dieses Stylesheet enthält die Stilregeln für alle Farben der Shop-Anwendung.
*/

$font-color-bright: #ffffff;
$font-color-dark: #4d4b50;
$base-color: #17adac;
$base-shadow: #cccccc;
$base-button-color: #3c0148;

$border-color: #eeeeee;
