@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./color.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.section {
  display: flex;
  justify-content: center;
  background-color: #edf6f5;
  padding: 20px;
}

.section--header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    line-height: 1.25em;
  }

  p {
    color: #777777;
    max-width: 930px;
    line-height: 1.625em;
    text-align: center;
  }
}

.section--blogs {
  padding: 20px;

  h2 {
    font-size: 1.6em;
    text-align: center;
  }

  .grid-temp {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.ti--footer {
  background-color: #edf6f5;
  padding: 30px 40px 0;
  -webkit-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.2);

  .footer--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .col-item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3 {
        font-size: 1.3em;
        text-decoration: underline;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  .social--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      img {
        width: 150px;
      }
    }

    p {
      font-size: 0.9em;
    }

    .social-icons {
      display: flex;
      gap: 2px;
    }
  }

  .ti-copyright {
    border-top: 1px solid rgba(0, 0, 0);
    margin-top: 15px;
    padding: 15px;
    text-align: center;
  }
}

.impressum--container {
  margin-top: 100px;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
}
