$max: "only screen and (min-width: 1240px)";
$desktop: "only screen and (min-width: 1060px)";
$tablet: "only screen and (min-width: 740px)";
$mobileMax: "only screen and (min-width: 470px)";
$mobile: "only screen and (min-width: 375px)";